{% load static %}
{% include 'portal/base.html' %}

                <div class="pcoded-content">
                    <div class="pcoded-inner-content">
                        <!-- Main-body start -->
                        <div class="main-body">
                            <div class="page-wrapper">
                                <!-- Page-header start -->
                                <div class="page-header">
                                    <div class="row align-items-end">
                                        <div class="col-lg-8">
                                            <div class="page-header-title">
                                                <div class="d-inline">
                                                    <h4>URL Categories List</h4>
                                                    <span></span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- Page-header end -->

                                    <!-- Page body start -->
                                    <div class="page-body">
                                        <div class="row">
                                        <div class="col-sm-12">
                                            <!-- List type card start -->
                                            <div class="card">
                                                <div class="row card-block">
                                                    <div class="col-md-12 col-lg-4">
                                                        <ul class="basic-list list-icons">
                                                            {% for cat in categories %}
                                                            <li><h6 style="padding-top: 5px; font-size: 14pt">
                                                                <i style="float:left;" class="icofont icofont-speech-comments text-primary p-absolute text-center d-block f-30"></i>
                                                                {{ cat.name }}</h6>
                                                                <br/>
                                                            </li>
                                                            {% endfor %}
                                                        </ul>
                                                    </div>
                                                    </div>
                                                <!-- Product list card end -->
                                            </div>
                                        </div>
                                        </div>
                                        <div class="md-overlay"></div>
                                        <!-- Add Contact Ends Model end-->
                                    </div>
                                    <!-- Page body end -->
                                </div>
                            </div>
                            <!-- Main-body end -->
                            <div id="styleSelector">

                            </div>
                        </div>
                    </div>
                </div>

{% include 'portal/scripts.html' %}