{% load static %}
{% include 'portal/base.html' %}

				<div class="pcoded-content">
                    <div class="pcoded-inner-content">
                        <!-- Main-body start -->
                        <div class="main-body">
                            <div class="page-wrapper">
                                <!-- Page-header start -->
                                <div class="page-header">
                                    <div class="row align-items-end">
                                        <div class="col-lg-8">
                                            <div class="page-header-title">
                                                <div class="d-inline">
                                                    <h4>List of your courses</h4>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- Page-header end -->

                                <!-- Page body start -->
                                <div class="page-body">
                                    <div class="row">
                                        <div class="col-sm-12 col-xl-8 offset-xl-2">
                                            <!-- List view card start -->
                                            <div class="card">
                                                <div class="row card-block">
                                                    <div class="col-md-12">
                                                        <ul class="list-view">
                                                            {% for course in courses % }
                                                            <li>
                                                                <div class="card list-view-media ">
                                                                    <div class="card-block">
                                                                        <div class="media">
                                                                            <div class="media-body">
                                                                                <div class="col-xs-12">
                                                                                    <h1 class="d-inline-block">
                                                                                        {{ course.code }}</h1>
                                                                                </div>
                                                                                <div class="f-13 text-muted m-b-15">
                                                                                    {{ course.name }}
                                                                                </div>
                                                                                <p>
                                                                                	<b>Current Policy</b>: {{ course.policy.name }}<br>
                                                                                </p>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </li>
                                                            {% endfor %}
                                                            
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- List view card end -->
                                        </div>
                                    </div>
                                    
                                            <!-- List type card end -->
                                        </div>
                                    </div>
                                </div>
                                <!-- Page body end -->
                            </div>
                        </div>
                    </div>
                </div>

{% include 'portal/scripts.html' %}