{% load static %}
{% include 'portal/base.html' %}

					<div class="pcoded-content">
                        <div class="pcoded-inner-content">
                            <!-- Main-body start -->
                            <div class="main-body">
                                <div class="page-wrapper">
                                    <!-- Page-header start -->
                                    <div class="page-header">
                                        <div class="row align-items-end">
                                            <div class="col-lg-8">
                                                <div class="page-header-title">
                                                    <div class="d-inline">
                                                        <h4>Create Rule</h4>
                                                        <span>Define the rules that form a policy.</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- Page-header end -->

                                <!-- Page body start -->
                                <div class="page-body">
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <!-- Multi-select start -->
                                            <div class="card">


                                                <form class="form-signin" id="create_rule" method="post" action="/rule/">
                                                <div>
                                                    <div>
                                                        <label class="j-label ">Access Policy (Container)</label>
                                                    </div>
                                                        <div>
                                                            <select name="container" class="form-control form-control-primary">
                                                            {% for policy in policies %}
                                                                <option value="{{ policy.name }}">{{ policy.name }}</option>
                                                            {% endfor %}
                                                            </select>
                                                        </div>
                                                </div>
                                                <br/>
                                                <!-- start name -->
                                                <div>
                                                    <label class="j-label">Action</label>
                                                    <div class="j-unit">
                                                        <div class="j-input">
                                                            <label for="Action"></label>
                                                            <select name="action" class="form-control form-control-primary">
                                                                <option value="ALLOW">ALLOW</option>
                                                                <option value="BLOCK">BLOCK</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                </div>
                                                <!-- end name -->
                                                <!-- start name -->
                                                <div>
                                                    <label class="j-label">Name</label>
                                                    <div class="j-unit">
                                                        <div class="j-input">
                                                            <label for="name"></label>
                                                            <input type="text" id="name" name="name">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="card-block">

                                                    <div class="row">
                                                        <div class="col-sm-12 col-xl-6 m-b-30">
                                                            <h4 class="sub-title">URL Filtering</h4>

                                                            <select name="custom_urls" id='custom_urls' class="searchable form-control form-control-primary" multiple='multiple'>
                                                                {% for url in urls %}
                                                                    <option value='{{ url.small_id }}'>{{ url.name }} - {{ url.url }}</option>
                                                                {% endfor %}
                                                            </select>
                                                        </div>
                                                    </div>

                                                </div>

                                                <div class="card-block">

                                                    <div class="row">
                                                        <div class="col-sm-12 col-xl-6 m-b-30">
                                                            <h4 class="sub-title">URL Categories</h4>
                                                            <select name="custom_categories" id='custom_categories' class="searchable form-control form-control-primary" multiple='multiple'>
                                                                {% for cat in categories %}
                                                                    <option value='{{ cat.small_id }}'>{{ cat.name }}</option>
                                                                {% endfor %}
                                                            </select>
                                                        </div>
                                                    </div>

                                                </div>

                                                <button class="btn btn-lg btn-primary btn-block" type="submit">Create</button>
                                            </form>
                                            </div>
                                            <!-- Multi-select end -->
                                        </div>
                                    </div>
                                </div>
                                <!-- Page body end -->
                            </div>
                        </div>
                        <!-- Main-body end -->
                        <div id="styleSelector">

                        </div>
                    </div>

{% include 'portal/scripts.html' %}
