{% load static %}
{% include 'portal/base.html' %}

                    <div class="pcoded-content">
                        <div class="pcoded-inner-content">
                            <div class="main-body">
                                <div class="page-wrapper">

                                    <div class="page-body">
                                        <div class="row">
                                            <!-- task, page, download counter  start -->
                                            <div class="col-xl-3 col-md-6">
                                                <div class="card bg-c-yellow update-card">
                                                    <div class="card-block">
                                                        <div class="row align-items-end">
                                                            <div class="col-8">
                                                                <h4 class="text-white" id="startTime"></h4>
                                                                <h6 class="text-white m-b-0">Time Elapsed</h6>
                                                            </div>
                                                            <div class="col-4 text-right">
                                                                <canvas id="update-chart-1" height="50"></canvas>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="card-footer">
                                                        <p class="text-white m-b-0"><i class="feather icon-clock text-white f-14 m-r-10"></i>update : 2:15 am</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-xl-3 col-md-6">
                                                <div class="card bg-c-green update-card">
                                                    <div class="card-block">
                                                        <div class="row align-items-end">
                                                            <div class="col-8">
                                                                <h4 class="text-white" id="endTime"></h4>
                                                                <h6 class="text-white m-b-0">Time Remaining</h6>
                                                            </div>
                                                            <div class="col-4 text-right">
                                                                <canvas id="update-chart-2" height="50"></canvas>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="card-footer">
                                                        <p class="text-white m-b-0"><i class="feather icon-clock text-white f-14 m-r-10"></i>update : 2:15 am</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-xl-3 col-md-6">
                                                <div class="card bg-c-pink update-card">
                                                    <div class="card-block">
                                                        <div class="row align-items-end">
                                                            <div class="col-8">
                                                                <h4 class="text-white" id="Bandwidth"></h4>
                                                                <h6 class="text-white m-b-0">Bandwidth Consumption</h6>
                                                            </div>
                                                            <div class="col-4 text-right">
                                                                <canvas id="update-chart-3" height="50"></canvas>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="card-footer">
                                                        <p class="text-white m-b-0"><i class="feather icon-clock text-white f-14 m-r-10"></i>update : 2:15 am</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-xl-3 col-md-6">
                                                <div class="card bg-c-lite-green update-card">
                                                    <div class="card-block">
                                                        <div class="row align-items-end">
                                                            <div class="col-8">
                                                                <h4 class="text-white">50</h4>
                                                                <h6 class="text-white m-b-0">Connected Devices</h6>
                                                            </div>
                                                            <div class="col-4 text-right">
                                                                <canvas id="update-chart-4" height="50"></canvas>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="card-footer">
                                                        <p class="text-white m-b-0"><i class="feather icon-clock text-white f-14 m-r-10"></i>update : 2:15 am</p>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col-md-12 col-xl-6 ">
                                                <div class="card app-design">
                                                    <div class="card-block">
                                                        <button class="btn btn-primary f-right">On Going</button>
                                                        <h1 class="f-w-400 text-muted">CS 101</h1>
                                                        <p class="text-c-blue f-w-400">Computer Programming and Utilization</p>
                                                        <div class="design-description d-inline-block m-r-40">
                                                            <h3 class="f-w-400">30</h3>
                                                            <p class="text-muted">Students</p>
                                                        </div>
                                                        <div class="design-description d-inline-block">
                                                            <h3 class="f-w-400">7.4</h3>
                                                            <p class="text-muted">Network Restrictiveness</p>
                                                        </div>
                                                        <div class="team-box p-b-20">
                                                            <!-- <p class="d-inline-block m-r-20 f-w-400">Students</p> -->
                                                            <div class="team-section d-inline-block">
                                                                <a href="#! "><img src="{% static "portal\files\assets\images\avatar-2.jpg" %}" data-toggle="tooltip" title="Josephin Doe" alt=" "></a>
                                                                <a href="#! "><img src="{% static "portal\files\assets\images\avatar-3.jpg" %}" data-toggle="tooltip" title="Lary Doe" alt=" " class="m-l-5 "></a>
                                                                <a href="#! "><img src="{% static "portal\files\assets\images\avatar-4.jpg" %}" data-toggle="tooltip" title="Alia" alt=" " class="m-l-5 "></a>
                                                                <a href="#! "><img src="{% static "portal\files\assets\images\avatar-2.jpg" %}" data-toggle="tooltip" title="Suzen" alt=" " class="m-l-5 "></a>
                                                            </div>
                                                        </div>
                                                        <div class="progress-box">
                                                            <p class="d-inline-block m-r-20 f-w-400">Progress</p>
                                                            <div class="progress d-inline-block">
                                                                <div class="progress-bar bg-c-blue" style="width:75% "><label>-25%</label></div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-12 col-xl-6 ">
                                                <div class="card app-design">
                                                    <div class="card-block">
                                                        <button class="btn btn-success f-right">Starts at 4:00 PM</button>
                                                        <h1 class="f-w-400 text-muted">CH 105</h1>
                                                        <!-- <p class="text-c-blue f-w-400">CH 105</p> -->
                                                        <p class="text-c-green f-w-400">Inorganic Chemistry</p>
                                                        <div class="design-description d-inline-block m-r-40">
                                                            <h3 class="f-w-400">25</h3>
                                                            <p class="text-muted">Students</p>
                                                        </div>
                                                        <div class="design-description d-inline-block">
                                                            <h3 class="f-w-400">8.3</h3>
                                                            <p class="text-muted">Network Restrictiveness</p>
                                                        </div>
                                                        <div class="team-box p-b-20">
                                                            <!-- <p class="d-inline-block m-r-20 f-w-400">Students</p> -->
                                                            <div class="team-section d-inline-block">
                                                                <div class="team-section d-inline-block">
                                                                    <a href="#! "><img src="{% static "portal\files\assets\images\avatar-3.jpg" %}" data-toggle="tooltip" title="Lary Doe" alt=" " class="m-l-5 "></a>
                                                                    <a href="#! "><img src="{% static "portal\files\assets\images\avatar-4.jpg" %}" data-toggle="tooltip" title="Alia" alt=" " class="m-l-5 "></a>
                                                                    <a href="#! "><img src="{% static "portal\files\assets\images\avatar-5.jpg" %}" data-toggle="tooltip" title="Josephin Doe" alt=" "></a>
                                                                    <a href="#! "><img src="{% static "portal\files\assets\images\avatar-7.jpg" %}" data-toggle="tooltip" title="Suzen" alt=" " class="m-l-5 "></a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="progress-box">
                                                            <p class="d-inline-block m-r-20 f-w-400">Progress</p>
                                                            <div class="progress d-inline-block">
                                                                <div class="progress-bar bg-c-green" style="width:0% "><label>-60:00</label></div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            
                                            <div class="col-xl-9 col-md-12">
                                                <div class="card">
                                                    <div class="card-header">
                                                        <h5>Sales Analytics</h5>
                                                        <span class="text-muted">For more details about usage, please refer <a href="https://www.amcharts.com/online-store/" target="_blank">amCharts</a> licences.</span>
                                                        <div class="card-header-right">
                                                            <ul class="list-unstyled card-option">
                                                                <li><i class="feather icon-maximize full-card"></i></li>
                                                                <li><i class="feather icon-minus minimize-card"></i></li>
                                                                <li><i class="feather icon-trash-2 close-card"></i></li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                    <div class="card-block">
                                                        <div id="sales-analytics" style="height: 265px;"></div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-xl-3 col-md-12">
                                                <div class="card user-card2">
                                                    <div class="card-block text-center">
                                                        <h6 class="m-b-15">Network Restrictiveness</h6>
                                                        <div class="risk-rate">
                                                            <span><b>7.4</b></span>
                                                        </div>
                                                        <h6 class="m-b-10 m-t-10">Balanced</h6>
                                                        <a href="#!" class="text-c-yellow b-b-warning">Change Your Policy</a>
                                                        <div class="row justify-content-center m-t-10 b-t-default m-l-0 m-r-0">
                                                            <div class="col m-t-15 b-r-default">
                                                                <h6 class="text-muted">Confidence</h6>
                                                                <h6>80%</h6>
                                                            </div>
                                                            <div class="col m-t-15">
                                                                <h6 class="text-muted">Last Updated</h6>
                                                                <h6>1st March</h6>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <button class="btn btn-warning btn-block p-t-15 p-b-15">Download Overall Report</button>
                                                </div>
                                            </div>
                                            <div class="col-sm-4">
                                                <div class="card bg-c-pink text-white widget-visitor-card">
                                                    <div class="card-block-small text-center">
                                                        <h2>1,658</h2>
                                                        <h6>Daily user</h6>
                                                        <i class="feather icon-user"></i>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-sm-4">
                                                <div class="card bg-c-blue text-white widget-visitor-card">
                                                    <div class="card-block-small text-center">
                                                        <h2>5,678</h2>
                                                        <h6>Daily visitor</h6>
                                                        <i class="feather icon-file-text"></i>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-sm-4">
                                                <div class="card bg-c-yellow text-white widget-visitor-card">
                                                    <div class="card-block-small text-center">
                                                        <h2>5,678</h2>
                                                        <h6>Last month visitor</h6>
                                                        <i class="feather icon-award"></i>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>

                                <div id="styleSelector">

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% include 'portal/scripts.html' %}
