{% load static %}
{% include 'portal/base.html' %}

                <div class="pcoded-content">
                    <div class="pcoded-inner-content">
                        <!-- Main-body start -->
                        <div class="main-body">
                            <div class="page-wrapper">
                                <!-- Page-header start -->
                                <div class="page-header">
                                    <div class="row align-items-end">
                                        <div class="col-xl-8">
                                            <div class="page-header-title">
                                                <div class="d-inline">
                                                    <h4>Policy Toolbox</h4>
                                                    <span>Take control of the control mechanisms.</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- Page-header end -->
                                    <!-- Page body start -->
                                    <div class="page-body">
                                        <div class="row">

                                            <div class="col-lg-12 col-xl-10 offset-xl-1">
                                                <!-- Open position card start -->
                                                <div class="card">
                                                    <div class="card-block">
                                                        <div class="job-cards">
                                                            <div class="media">
                                                                <a class="media-left media-middle" href="#">
                                                                    <!-- <img class="media-object m-r-10 m-l-10" src="..\files\assets\images\browser\chrome.png" alt="Generic placeholder image"> -->
                                                                </a>
                                                                <div class="media-body">
                                                                    <div class="company-name m-b-10">
                                                                        <p>Policies</p>
                                                                        <i class="text-muted f-14">Add, Edit, Remove and View Policies</i></div>
                                                                    <p class="text-muted">A single policy caters to a single course. Take charge of your policies to control what is accessible in the classroom.</p>
                                                                </div>
                                                                <div class="media-right">
                                                                    <br/>
                                                                    <a href="/policy"><button class="btn bg-primary">Enter</button></a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="job-cards">
                                                            <div class="media">
                                                                <a class="media-left media-middle" href="#">
                                                                    <!-- <img class="media-object m-r-10 m-l-10" src="..\files\assets\images\browser\chrome.png" alt="Generic placeholder image"> -->
                                                                </a>
                                                                <div class="media-body">
                                                                    <div class="company-name m-b-10">
                                                                        <p>Rules</p>
                                                                        <i class="text-muted f-14">Add and view Rules</i></div>
                                                                    <p class="text-muted">A policy consists of several rules. Head over to manage each rule individually.</p>
                                                                </div>
                                                                <div class="media-right">
                                                                    <br/>
                                                                    <a href="/rule"><button class="btn bg-primary">Enter</button></a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="job-cards">
                                                            <div class="media">
                                                                <a class="media-left media-middle" href="#">
                                                                    <!-- <img class="media-object m-r-10 m-l-10" src="..\files\assets\images\browser\chrome.png" alt="Generic placeholder image"> -->
                                                                </a>
                                                                <div class="media-body">
                                                                    <div class="company-name m-b-10">
                                                                        <p>URL Filtering</p>
                                                                        <i class="text-muted f-14">Allow and block websites by URL.</i></div>
                                                                    <p class="text-muted">Control what is accessible in the classroom at by allowing and blocking websites with URL filtering.</p>
                                                                </div>
                                                                <div class="media-right">
                                                                    <br/>
                                                                    <a href="/url/create"><button class="btn bg-primary">Enter</button></a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="job-cards">
                                                            <div class="media">
                                                                <a class="media-left media-middle" href="#">
                                                                    <!-- <img class="media-object m-r-10 m-l-10" src="..\files\assets\images\browser\chrome.png" alt="Generic placeholder image"> -->
                                                                </a>
                                                                <div class="media-body">
                                                                    <div class="company-name m-b-10">
                                                                        <p>Categories</p>
                                                                        <i class="text-muted f-14">View and explore categories.</i></div>
                                                                    <p class="text-muted">View Cisco's curated list of URL categories for easy filtering.</p>
                                                                </div>
                                                                <div class="media-right">
                                                                    <br/>
                                                                    <a href="/categories"><button class="btn bg-primary">Enter</button></a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <!-- Open position card end -->
                                            </div>
                                        </div>
                                    </div>
                                    <!-- Page body end -->
                                </div>
                            </div>
                            <!-- Main-body end -->
                            <div id="styleSelector">

                            </div>
                        </div>
                    </div>
                </div>

{% include 'portal/scripts.html' %}
